apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-super-webapp
spec:
  replicas: 3  
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
      - name: web-container
        image: krittaphat054/my-first-webapp:latest 
        ports:
        - containerPort: 3000